{% extends 'base.html.twig' %}

{% block title %}Central de conteúdo{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <input type="text" name="busca" id="busca_input">
            <button class="btn btn-primary" data-link="">Buscar</button>
        </div>
    </div>

    {% for row in artigos %}
        <div class="row">
            <div class="col-md-2">
                    <img src="" alt="" class="border-circle">
            </div>
            <div class="col-md">
                <h1 class="h3">{{ row.titulo }}</h1>
                <p>{{ row.corpo|slice(0, 120) }} ...</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
